<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Energy Advisor Chatbot</title>
    <link rel="stylesheet" href="static/css/Home.css">

</head>
<body>

    <div class="container">
        <header>
            <h1>Welcome to Home Energy Efficiency Advisor Chatbot</h1>
            <p>Get personalized energy-saving tips for your home appliances.</p>
        </header>
        
        <div class="button-container">
            <a href="index" class="btn">Start Chatting</a>
        </div>

        <footer>
            <p>This Chatbot serves as an innovative, interactive solution for homeowners looking to 
                optimize energy consumption and reduce utility costs. Developed using Python and 
                leveraging advanced Natural Language Processing (NLP) techniques with 
                libraries like NLTK, the chatbot understands user queries and provides personalized 
                energy-saving advice. Through dynamic and intuitive conversations, 
                it gathers detailed information about household appliances, energy usage patterns, 
                and lifestyle habits to generate actionable recommendations tailored to the user's specific needs. 
                The chatbot's ability to deliver real-time advice during ongoing interactions makes it 
                a step ahead of conventional, static energy management tools.</p>
        </footer>
    </div>

</body>
</html>
